<%= simple_form_for(@comment,remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :message,as: :text,input_html: { rows: 8} %>
  </div>

  <div style="padding-left:112px;">
    <%= f.button :submit,class: 'btn btn-primary' %>
  </div>
<% end %>
