<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags default_meta_tags %>
    <%= stylesheet_link_tag "layout", :media => "all" %>
    <%= stylesheet_link_tag "dblue", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%#= javascript_include_tag "jquery.form" %>
    <%#= javascript_include_tag "jquery.tweet" %>
    <%#= javascript_include_tag "easing" %>
    <%#= javascript_include_tag "jquery.prettyPhoto" %>
    <%#= javascript_include_tag "jquery.scrollTo-1.4.2-min" %>
    <%#= javascript_include_tag "jquery.localscroll-1.2.7-min" %>
    <%#= javascript_include_tag "jquery.tools.min" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <!-- handles the jquery cycle slider -->
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
