<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags default_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <!-- handles the jquery cycle slider -->
    <script>
      var loading;
      $(document).ready(function() {
        $('form').submit(
          function(){
            loading = $('<div class="loading"><%= j image_tag "loading.gif",alt:"loading",title:"loading" %></div>').dialog({modal: true,title: '信息提交中，请稍等'});
          }
        )
    });
    </script>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%#= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
